{
    "discord":{
       "commandPrefix":"~",
       "config":{
          "token":""
       },
       "voiceChannels":[
          {
             "channelID":"88111110544175104",
             "record":{
                "sendTo":{
                   "type":"telegram",
                   "chatID":-1001142124588
                },
                "ignoreUsers":[
                   "285021895529594880",
                   "406502184990146560"
                ]
             }
          }
       ]
    },
    "telegram":{
       "config":{
          "token":""
       }
    },
    "sounds":{
       "airhorn.opus":{
          "description":"",
          "commands":[
             "airhorn"
          ],
          "keywords":[
 
          ]
       },
       "papapa.mp3":{
          "description":"",
          "commands":[
             "papapa"
          ],
          "keywords":[
 
          ]
       },
       "nice.mp3":{
          "description":"",
          "commands":[
             "nice"
          ],
          "keywords":[
 
          ]
       },
       "failed.mp3":{
          "description":"",
          "commands":[
             "failed"
          ],
          "keywords":[
 
          ]
       },
       "tobecontinued.opus":{
          "description":"",
          "commands":[
             "tbc",
             "tobecontinued"
          ],
          "keywords":[
 
          ]
       },
       "fail.mp3":{
          "description":"",
          "commands":[
             "fail"
          ],
          "keywords":[
 
          ]
       },
       "bii.mp3":{
          "description":"",
          "commands":[
             "bii"
          ],
          "keywords":[
 
          ]
       },
       "kkk.mp3":{
          "description":"",
          "commands":[
             "kkk"
          ],
          "keywords":[
 
          ]
       },
       "doot.ogg":{
          "description":"",
          "commands":[
             "doot"
          ],
          "keywords":[
            "🎺"
          ]
       },
       "open.wav":{
          "description":"",
          "commands":[
             "open"
          ],
          "keywords":[
 
          ]
       },
       "close.wav":{
          "description":"",
          "commands":[
             "close"
          ],
          "keywords":[
 
          ]
       },
       "fake.wav":{
          "description":"",
          "commands":[
             "fake"
          ],
          "keywords":[
 
          ]
       },
       "20th_flute.mp3":{
          "description":"",
          "commands":[
             "20th_flute"
          ],
          "keywords":[
 
          ]
       },
       "20th.opus":{
          "description":"",
          "commands":[
             "20th"
          ],
          "keywords":[
 
          ]
       },
       "Denied.mp3":{
          "description":"",
          "commands":[
             "denied"
          ],
          "keywords":[
 
          ]
       },
       "Derp.mp3":{
          "description":"",
          "commands":[
             "derp"
          ],
          "keywords":[
 
          ]
       },
       "Ding.mp3":{
          "description":"",
          "commands":[
             "ding"
          ],
          "keywords":[
 
          ]
       },
       "Heavenly_Music.mp3":{
          "description":"",
          "commands":[
             "heaven"
          ],
          "keywords":[
 
          ]
       },
       "hefu_kup.opus":{
          "description":"",
          "commands":[
             "hefuckup",
             "hef_ckup",
             "hfu"
          ],
          "keywords":[
 
          ]
       },
       "ILLUMINATI_CONFIRMED.wav":{
          "description":"",
          "commands":[
             "illuminati",
             "光明會"
          ],
          "keywords":[
            "<:illuminati:458194733869826051>"
          ]
       },
       "Nope.mp3":{
          "description":"",
          "commands":[
             "nope"
          ],
          "keywords":[
            "<:nope:502309683068141569>",
            "<:nope_angled:502310519815012352>"
          ]
       },
       "Punch.mp3":{
          "description":"",
          "commands":[
             "punch",
             "打"
          ],
          "keywords":[
 
          ]
       },
       "Sad_Violin.mp3":{
          "description":"",
          "commands":[
             "sadviolin"
          ],
          "keywords":[
 
          ]
       },
       "surprisemotherf_cker.opus":{
          "description":"",
          "commands":[
             "surprisemotherfucker",
             "smf",
             "surprisemotherf_cker"
          ],
          "keywords":[
 
          ]
       },
       "Suspense1.wav":{
          "description":"",
          "commands":[
             "suspense1",
             "驚嚇1"
          ],
          "keywords":[
 
          ]
       },
       "Suspense2.wav":{
          "description":"",
          "commands":[
             "suspense2",
             "驚嚇2"
          ],
          "keywords":[
 
          ]
       },
       "TADAAH.mp3":{
          "description":"",
          "commands":[
             "tadaah"
          ],
          "keywords":[
 
          ]
       },
       "WOW.mp3":{
          "description":"",
          "commands":[
             "wow"
          ],
          "keywords":[
 
          ]
       },
       "Wrong_Buzzer.mp3":{
          "description":"",
          "commands":[
             "wrong"
          ],
          "keywords":[
 
          ]
       },
       "balabala.opus":{
          "description":"",
          "commands":[
             "巴拉巴巴"
          ],
          "keywords":[
 
          ]
       },
       "poked.wav":{
          "description":"",
          "commands":[
             "poke"
          ],
          "keywords":[
 
          ]
       },
       "fart.opus":{
          "description":"",
          "commands":[
             "fart"
          ],
          "keywords":[
 
          ]
       },
       "push_bell_b.ogg":{
          "description":"",
          "commands":[
             "line"
          ],
          "keywords":[
 
          ]
       },
       "tg.mp3":{
          "description":"",
          "commands":[
             "tg"
          ],
          "keywords":[
 
          ]
       },
       "skype.mp3":{
          "description":"",
          "commands":[
             "skype"
          ],
          "keywords":[
 
          ]
       },
       "messenger.ogg":{
          "description":"",
          "commands":[
             "messenger"
          ],
          "keywords":[
 
          ]
       },
       "diskinfo.ogg":{
          "description":"",
          "commands":[
             "diskinfo"
          ],
          "keywords":[
 
          ]
       }
    }
 }